
#images{
    width: 70%;
    position: absolute;
    right: 0px;
    top:10%;
    display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3);
      grid-gap: 15px;
  }